.animation-canvas {
    position: relative;
    width: 80vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 1px solid #ccc; 
  }
  .score-display {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 4vw;
    color: #1f42e3;
    z-index: 10;
    font-family: medium;
  }

  @media (max-width: 768px) {
    .score-display {
      font-size: 4vw;
      top: 20px;
      right: 20px;
    }
  
    .animation-canvas {
      width: 95vw;
    }
  }
  
  @media (max-width: 480px) {
    .score-display {
      font-size: 6vw;
      top: 15px;
      right: 15px;
    }
  }

  
  